.modal-content{
    background-color: lightskyblue;
   background-image: "mbg.jpg";
}

body{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    background-color: cornsilk;
}

#show_sketch{
    float: right;
}

canvas{
    border: 5px solid white;
    border-radius: 15px;
    animation-name: example;
    animation-duration: 6s;
    margin-top: 45px;
    animation-iteration-count: infinite;
}

@keyframes example {

    from{box-shadow: 1px 1px 38px grey;}
    to {box-shadow: 1px 1px 38px white;}
}

p{
    padding-top: 10px;
    font-size: 25px;
}